<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilife.employyim">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.mobilife.employyim.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mobilife.employyim.view.splashscreen.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mobilife.employyim.view.login.WelcomeActivity" />
        <activity android:name="com.mobilife.employyim.view.login.LoginActivity" />
        <activity android:name="com.mobilife.employyim.view.mainpage.MainActivity" />
        <activity android:name="com.mobilife.employyim.view.detail.DetailActivity" />
    </application>

</manifest>